*{
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;

}

body{

  font-family: 'Poppins';
  background: url("https://i.pinimg.com/originals/61/8e/c3/618ec34e3a39dccae46a4276e3b1734d.jpg");
  /* background-size: cover; */
}



#header{
  width: 100%;
  height: auto;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  flex-direction: column;
}

#header h2, h5{
  color: whitesmoke;
}

#search {
  /* background: yellow; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-bar{
  width: 40%;
  height: 35px;
  font-size: 0.9rem;
  padding: 0 1%;
  border-radius: 10px;
  border-width: 1px;
  outline: none;
  /* margin: auto;   */
} 


#notfound{
  background: aqua;
  height: 40px;
  width: 50vw;
  margin: auto;
  position: absolute;
  top: 110px;
  left: 25%;
  align-items: center;
  border-radius: 10px;
}

#display_section{
  min-height: 85vh;
  width: 100%;
  /* background: yellowgreen; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.char_card{
  min-height: 400px;
  min-width: 200px;
  max-width: 300px;
  background: whitesmoke;
  border: 1px black solid;
  margin: 2% 0;
  padding: 5px;
}

.photo_section {
  width: 100%;
  height: 400px;
  /* background: red; */
  
}

img{
  height: 100%;
  width: 100%;
  display: block;
}

.intro{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  /* background: green; */
  padding: 2% 0;
}

.far{
  font-size: 1.25rem;
  cursor: pointer;
  color: red;

}

.movie_name a{
  font-size: 1.25rem;
  text-decoration: none;
}

.movieFeatures{
  background: red;
  width: 80%;
  /* height: 5%; */
  margin: 2px auto;
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  border: 1px solid black;
}

p{
  font-size: 1rem;
  text-align: center;
  margin: 1px auto;
}

a{
  color: black;
}


/* Movie Page */
#movie_container{
  height: 100vh;
  width: 100%;
  /* background: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#movie_disp{
  height: 75vh;
  width: 700px;
  background: whitesmoke;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  border: 1px solid grey;
}

#movie_poster{
  width: 49%;
  height: 100%;
  /* background: yellow; */
}

#about_movie{
  width: 49%;
  height: 100%;
  /* background: pink; */
  padding: 0% 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#details{
  width: 95%;
  height: 90%;
  display: flex;
  /* background: yellow; */
  flex-direction: column;
  justify-content: space-around;
}


.sub_sec{
  width: 100%;
  min-height: 10%;
  /* background: lightblue; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.field{
  font-size: large;
  width: 20%;
  padding: 0 5%;
}

.value{
  font-size: medium;
  width: 80%;
  padding: 0 1%;

}